@media screen and (max-width: 479px) {
    header .logo .logo-tail {
        max-width: 0;
    }
}

@media screen and (min-width: 480px) {
    header .logo .logo-tail {
        max-width: 100px;
    }
}


@media screen and (max-width: 767px) {
    header .logo .logo-tail {
        overflow: hidden;
        transition: 300ms all;
    }

    /* filme principal */

    main > .filme-principal {
        height: 150vw;
        max-height: 100vh;
        margin-bottom: 3rem;
    }

    .filme-principal > .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        height: 100%;
    }

    .filme-principal picture img {
        top: 0;
    }

    .filme-principal .picture-gradient {
        background: linear-gradient(rgba(20, 20, 20, .0) 75%, rgba(20, 20, 20, .9) 91%, rgb(20, 20, 20) 96%);
    }

    .filme-principal .titulo,
    .filme-principal .descricao {
        display: none;
    }

    .filme-principal .botoes {
        display: flex;
        justify-content: space-around;
        align-items: center;

        height: 60px;
    }

    .filme-principal .botao:not(.button-play) {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-width: 40px;
        color: #939393;
    }

    .filme-principal .botao:not(.button-play):hover {
        color: var(--branco);
    }

    .filme-principal .botao:not(.button-play):hover i {
        color: #fff;
    }

    .filme-principal .botao:not(.button-play) i {
        margin-bottom: 10px;
        color: var(--branco);
    }
}

@media screen and (orientation: portrait) and (max-width: 767px) {
    main > .filme-principal {
        height: 133vw;
    }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
    .filme-principal picture img {
        top: unset;
        bottom: 0;
    }   
}

@media screen and (min-width: 768px) {
    :root {
        --info-width: 370px;
        --picture-factor: 10%;
        --picture-width: calc(100vw - (var(--info-width) + var(--side-padding)) + var(--picture-factor));
        --gradient-stop-1: calc(var(--picture-width) - 14%);
        --gradient-stop-2: calc(var(--picture-width) - 4%);
        --gradient-stop-3: calc(var(--picture-width) - 1%);
    
    }

    .filme-principal {
        height: 480px;
    }

    .filme-principal .container, 
    .filme-principal .info-container {
        height: 100%;
    }

    .filme-principal picture img {
        top: 0;
        right: 0;
        width: var(--picture-width);
    }

    .filme-principal .picture-gradient {
        background: linear-gradient(to left, rgba(20, 20, 20, .0) var(--gradient-stop-1), rgba(20, 20, 20, .9) var(--gradient-stop-2), rgb(20, 20, 20) var(--gradient-stop-3));
    }

    .filme-principal .info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: calc(50% - var(--side-padding));
        max-width: 370px;
        margin-left: var(--side-padding);
    }

    .filme-principal .botoes {
        display: flex;
    }

    .filme-principal .botao {
        height: 40px;

        align-items: center;
        margin-right: 1rem;
        padding: 0 20px;
    }

    .filme-principal .botoes .button-add {
        order: 2;
        color: var(--branco);
        background-color: #f7f7f726;
    }

    .filme-principal .botoes .button-add:hover {
        background-color: #f7f7f74d;
    }

    .filme-principal .botoes .button-info {
        order: 3;
        padding: 0;
        color: #939393;;
    }
    
    .filme-principal .button-info i,
    .filme-principal .button-info:hover {
        color: var(--branco);
    }


    .filme-principal .botao i {
        margin-right: 0.6rem;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --side-padding: 3rem;
        --picture-factor: -4%;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --side-padding: 4rem;
        --picture-factor: -8%;
    }
}

@media screen and (min-width: 1280px) {
    :root {
        --nav-element-margin: 2vw;
    }
}